repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --fix --allow-staged
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd web && npm ci && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
