* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Code editor styles */
.npm__react-simple-code-editor__textarea {
  outline: none !important;
}

.npm__react-simple-code-editor__textarea:focus {
  outline: none !important;
}
