name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10

jobs:
  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: x86_64
            target: x86_64
            cache_key: x86_64
            artifact_name: wheels-macos-x86_64
            args: --release --find-interpreter --out dist
          - name: universal
            target: universal2-apple-darwin
            cache_key: universal
            artifact_name: wheels-macos-universal
            args: --release --find-interpreter --out dist
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.platform.cache_key }}
      - name: "Build wheels - ${{ matrix.platform.name }}"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: ${{ matrix.platform.args }}
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.platform.artifact_name }}
          path: dist

  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: x86_64-pc-windows-msvc
          - target: i686-pc-windows-msvc
          - target: aarch64-pc-windows-msvc
    steps:
      - uses: actions/checkout@v6
      - name: "Configure Git to support long paths"
        run: git config --system core.longpaths true
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.platform.target }}
      - name: "Build wheels - windows"
        uses: PyO3/maturin-action@v1
        with:
          args: --release --find-interpreter --out dist --target ${{ matrix.platform.target }}
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.platform.target }}
          path: dist

  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - i686-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}
      - name: "Build wheels - linux"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: auto
          command: build
          args: --release --find-interpreter -o dist
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.target }}
          path: dist

  linux-cross:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: aarch64-unknown-linux-gnu
            arch: aarch64
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16
          - target: armv7-unknown-linux-gnueabihf
            arch: armv7
          - target: s390x-unknown-linux-gnu
            arch: s390x
          - target: powerpc64le-unknown-linux-gnu
            arch: ppc64le
          - target: powerpc64-unknown-linux-gnu
            arch: ppc64
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.platform.target }}
      - name: "Build wheels - linux-cross"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          manylinux: auto
          docker-options: ${{ matrix.platform.maturin_docker_options }}
          args: --release --find-interpreter -o dist
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.platform.target }}
          path: dist

  musllinux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - i686-unknown-linux-musl
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          key: musl-${{ matrix.target }}
      - name: "Build wheels - musllinux"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: musllinux_1_2
          args: --release --find-interpreter -o dist
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.target }}
          path: dist

  musllinux-cross:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: aarch64-unknown-linux-musl
            arch: aarch64
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16
          - target: armv7-unknown-linux-musleabihf
            arch: armv7
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          key: musl-${{ matrix.platform.target }}
      - name: "Build wheels - musllinux-cross"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          manylinux: musllinux_1_2
          args: --release --find-interpreter -o dist
          docker-options: ${{ matrix.platform.maturin_docker_options }}
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.platform.target }}
          path: dist

  # this only exists for making github action protections easier to manage
  all-builds-pass:
    name: All builds pass
    runs-on: ubuntu-latest
    needs:
      - linux
      - linux-cross
      - macos
      - musllinux
      - musllinux-cross
      - windows
    steps:
      - name: Echo success
        run: echo "All builds passed"

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - all-builds-pass
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          merge-multiple: true
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --skip-existing *
